
.preloader
  .preloader-content-wrapper
    .preloader-content
      %i.fa.fa-cog.fa-3x.fa-spin
      
%nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: ".navbar-collapse"}}
        %span.sr-only Toggle navigation
        %span Menu

      %a.navbar-brand{href: "#intro"}
        %img{src: "assets/footer_logo.png", alt: "logo small"}
	
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        %li
          %a{href: "#intro"} Start
        %li
          %a{href: "#about"} About
        %li
          %a{href: "#participate"} Participate
        %li
          %a{href: "#terms"} Terms and Conditions
        %li
          %a{href: "#submit"} Submit Film
        %li
          %a{href: "#sponsors"} Sponsors

%section.intro#intro
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
        .intro-section
          -# begin logo intro section
          -#%img{src: "assets/lamap_logo.png", alt: "logo"}
          -# end logo intro section
          -#%h1 Swim Shorts Film Festival
          .intro-buttons
            %ul.list-inline
              %li
                %a.btn.btn-custom{href: "#"}
                  %i.fa.fa-film
                  Submit
              %li
                %a.btn.btn-custom-border{href: "#"}
                  %i.fa.fa-align-left
                  About
          -#%a{href:"#", class:"mouse"}
            %i.fa.fa-angle-down.Drop.animated
  %span.mouse

%section.about#about
  .container
    .row
      .col-md-12
        .section-head.wow.fadeInRight.animated{data: {"wow-offset" => "10"}}
          %h1 Swim Shorts Film Festival
          .underline
    .row
      .col-md-12
        .wow.fadeInRight.animated{data: {"wow-offset" => "10"}}
          %p The Swim Shorts Film Festival seeks to celebrate Northeast Florida's waterways through the lens of your camera. We invite filmmakers of all ages and ability levels to send us short films featuring Northeast Florida's waters and/or their favorite water activities. All proceeds from the festival, including ticket sales and dontaions, will go to the St. John's Riverkeeper organization for use in their public awareness and conservation efforts.
          %p A panel of volunteer judges will select the best entries from each age group, and we will screen the winners at the festival showcase at Sun Ray Cinemas on August 18, 2016.

%section.participate#participate
  .container
    .row
      .col-md-12
        .section-head.wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h2 How to participate
          .underline
    .row
      .col-md-12
        .wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h4 Gather Your Team
          %p Gather a team to make a five-minute short film about a Northeast Florida waterway and/or your favorite water activity. You team can be just you, or any number of friends and family. 
          %p Be sure you come up with a fun name for your team!
          %br
    .row
      .col-md-12
        .wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h4 Select An Age Group
          %p There is no limit to the number of people who can be on your team. You may select from:
          %ul
            %li 
              %strong Elementary School 
              at least one member of your team must be in elementary school
            %li 
              %strong Middle School 
              at least one member of your team must be in middle school
            %li 
              %strong High School 
              at least one member of your team must be in high school
            %li 
              %strong College 
              at least one member of your team must be enrolled in college
            %li 
              %strong Professional 
              for teams that do not qualify for any of the above age groups
          %br
          %br

    .row
      .col-md-12
        .wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h4 Create Your Video
          %p Please make your video 720p or 1080p and 24 frames per second (23.976 or 23.98 is fine). Your video must not greatly exceed 5 minutes (a few seconds here or there won’t count against you).
          %p Do not use copyrighted materials. Be creative! Look around for royalty free sound effects or music, or better yet, create your own! Is there a local band you love? Reach out to them, they might let you use their song!
          %p Remember, water can be dangerous! Do not try anything you are not comfortable with or that is beyond your skill level. Water can irreparably damage cameras and other electronic equipment. Be careful. You are responsible for your own actions. 
          %p Do not harm or harass people or animals for your video. Do not harm any environments while filming. Any submissions which appear to engage in such behaviors will be automatically disqualified. You are responsible for knowing and following Florida laws and guidelines in this matter. We reserve the right to disqualify any video.
          %br
    .row
      .col-md-12
        .wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h4 Upload Your Video
          %p
            Upload your video to 
            %a{href: "http://www.vimeo.com"} vimeo
            and submit it to us by July 15th. 
          %p You will need to create a vimeo account if you do not already have one. They are free and the website has many instructional videos to help you out. Please keep your video marked as “only people with a password can see this video” until after the competition. We will need the password for the video so our judges can view it. 
          %br
    .row
      .col-md-12
        .wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h4 Finalists will be decided on by August 1st. 
          %p The Video Showcase will be held on August 18th at Sun Ray Cinema beginning at 6:30pm. 
          %p 
            All ticket sales of the showcase will be donated to the St. John’s Riverkeeper to aid in their efforts to keep our river clean and healthy. If you would like to sponsor this event, please contact the administrator at
            %a{href: "mailto:submissions@swimshortsfilmfest.com"}submissions@swimshortsfilmfest.com.
            All sponsorship donations will be awarded to the St. John’s Riverkeeper as well. 
          %p Submissions will be judged on creativity, writing, filming, acting, sound, and editing among other things. Show us something fun, interesting, and perhaps even educational! 
          %p Judges will be from multiple fields and backgrounds and will use a predetermined rubric as a guide.

%section.terms#terms
  .container
    .row
      .col-md-12
        .section-head.wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %h1 Terms and Conditions
          %span.underline
    .row
      .col-md-12
        .wow.fadeInLeft.animated{data: {"wow-offset" => "10"}}
          %p
            The Swim Shorts Film Festival accepts submissions from all interested participants with the following terms and conditions:
          %ol
            %li Limit one entry per team
            %li Total runtime of the film must not exceed 5 minutes and must be at least 720p resolution
            %li Teams must enter into one of the following age groups: Elementary School, Middle School, High School, College, and Professional. At least one member of a team must be in the team's elected age group.
            %li Submissions must be about a Northeast Florida waterway or a recreational water activity.
            %li All elements of the film must be the intellectual property of the submitter, and may not contain any elements that infringe on another person or organization's copy rights
            %li 
              Films must be submitted as a private, password protected video on 
              %a{href: 'http://www.vimeo.com'} Vimeo.com
            %li All entries must be submitted by July 15, 2016, to be considered by the judges. We will announce the winning films on August 1, 2016.
            %li Submitters retain ownership of their videos, but grant Swim Shorts Film Festival the right to display them to an audience during the festival showcase at Sun Ray Cinemas on August 18, 2016.
            %li Swim Shorts Film Festival will not accept submissions from organizers of the festival, employees or volunteers for Sun Ray Cinemas or St. John's Riverkeeper, festival judges, or immediate family memebers of anyone within the aforementioned groups

          %p
            %strong Advisory:
            Many water activities can be dangerous. Do not engage in activities that are beyond your skill or comfort level. Swim Shorts Film Festival is not liable for injury to persons or damage to property that occurs during the creation of your film.

%section.submit#submit
  .container
    .row
      .col-md-12
        .section-head.wow.fadeInDown.animated{data: {"wow-offset"=>"10"}}
          %h1 Submit Your Film
          %p Fill out this form to submit your film
          %span.underline
    .row
      .col-md-12
        = render 'form'

%section.customers.wow.fadeIn.animated#sponsors
  .container
    .row
      .col-md-12
        .section-head.wow.fadeInRight.animated{data: {"wow-offset"=>"10"}}
          %h1 Sponsors
          %span.underline
    .row
      .col-md-12
        .customer-slider
          .item
            %img{ src: "assets/RiverkeeperLogo.jpg", alt: "client logo"}

%footer.footer#footer
  .container
    .row.wow.fadeIn.animated{data: {"wow-offset"=>"10", "wow-duration"=>"1.5s"}}
      .col-md-3.col-sm-3
        %img{src: "assets/footer_logo.png", alt:"footer logo"}
        %p
          %small Copyright &copy; 2016 Swim Shorts Film Festival

      .col-md-2.col-md-offset-1.col-sm-3
        %h4 Links
        .underline-small
        %ul
          %li
            %a{href:"#about"} About us
      .col-md-2.col-md-offset-1.col-sm-3
        %h4 Contact Us
        .underline-small
        %ul
          %li
            %a{href: "mailto:submissions@swimshortsfilmfest.com"} submissions@swimshortsfilmfest.com

      .col-md-2.col-md-offset-1.col-sm-3
        %h4 Get Social
        .underline-small
        %ul.list-inline
          %li
            %a{href: "https://www.facebook.com/swimshortsfilmfestival"}
              %i.fa.fa-facebook
          %li
            %a{href: "#"}
              %i.fa.fa-twitter
          %li
            %a{href: "#"}
              %i.fa.fa-instagram
          %li
            %a{href: "#"}
              %i.fa.fa-vimeo-square
          %li
            %a{href: "#"}
              %i.fa.fa-youtube
